/build
/src/main/jniLibs/arm64-v8a/libopenal.so
/src/main/jniLibs/arm64-v8a/liboboe.so
/src/main/jniLibs/arm64-v8a/libeye_ai_core_rs_native_lib.so
/src/main/jniLibs/arm64-v8a/libqnn_delegate_jni.so
/src/main/jniLibs/arm64-v8a/libQnnTFLiteDelegate.so
/src/main/jniLibs/arm64-v8a/libLiteRt.so
/src/main/jniLibs/arm64-v8a/libLiteRt*.so
/src/main/java/com/algorithmic_alliance/eyeaiapp/uniffi/NativeLib/NativeLib.kt
